*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;

}
body{
    background-color: #080808;
    color: #fff;
    
}
#header{
    width: 90;
    height: 98vh ;
    background-image: url(images/WhatsApp\ Image\ 2023-10-31\ at\ 4.40.35\ PM.png);
    background-size: 50% auto;
    background-repeat: no-repeat;
    background-position: right center;
}
.container {
    padding: 10px 10%;
    /* Other styling properties */
  }
  